ion-menu-button {
  color: var(--ion-color-primary);
}

ion-card-header ion-card-title {
  color: var(--ion-text-color);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-bottom: 4rem;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}