<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulário de Vazão</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="submitFormVazao(form)" #form="ngForm">
          
          <!-- Seção 1: Precipitação e Área -->
          <ion-list>
            <ion-list-header>
              <ion-label>Precipitação e Área</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">Área (ha)</ion-label>
              <ion-input
                name="areaHa"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Chuva diária (mm)</ion-label>
              <ion-input
                name="chuvaMm"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
          </ion-list>

          <!-- Seção 2: Volume e Fluxo -->
          <ion-list>
            <ion-list-header>
              <ion-label>Volume e Fluxo</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">Volume de chuva (L)</ion-label>
              <ion-input
                name="volumeChuvaL"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Fluxo médio (L/min)</ion-label>
              <ion-input
                name="fluxoLMin"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
          </ion-list>

          <!-- Seção 3: Movimento -->
          <ion-list>
            <ion-list-header>
              <ion-label>Dados de Movimento</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">Distância (m)</ion-label>
              <ion-input
                name="distanciaM"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Tempo percorrido (s)</ion-label>
              <ion-input
                name="tempoPercorridoS"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Velocidade (m/s)</ion-label>
              <ion-input
                name="velocidadeMS"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
          </ion-list>

          <!-- Seção 4: Descarga e Bicos -->
          <ion-list>
            <ion-list-header>
              <ion-label>Descarga e Bicos</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label position="floating">Tempo total descarga (s)</ion-label>
              <ion-input
                name="tempoDescargaS"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Volume do sistema (L)</ion-label>
              <ion-input
                name="volumeSistemaL"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Vazão do sistema (L/s)</ion-label>
              <ion-input
                name="vazaoSistemaLS"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Número de bicos</ion-label>
              <ion-input
                name="numBicos"
                type="number"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Vazão por bico (L/s)</ion-label>
              <ion-input
                name="vazaoPorBicoLS"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Volume por bico em 15 s (L)</ion-label>
              <ion-input
                name="volumePorBico15sL"
                type="number"
                step="any"
                ngModel
                required>
              </ion-input>
            </ion-item>
          </ion-list>

          <ion-button
            type="submit"
            expand="block"
            color="primary"
            [disabled]="!form.valid">
            Enviar
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
